.banner {
  height: 250px;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  margin-bottom: 150px;
}

.banner p {
  padding: 50px 0;
  margin: 0;
  color: whitesmoke;
  text-shadow: 2px 2px 5px black;
  font-size: large;
  font-weight: bold;
}

.banner h1 {
  margin: 0;
  color: whitesmoke;
  text-shadow: 2px 2px 5px black;

}

.container {
  width: 900px;
  margin: 0  auto;
  justify-content: center;
  align-items: center;
}
